{% extends 'tournament/base.html' %}
{% load static from staticfiles %}

{% block page-header %}Africa LiChess Hub{% endblock page-header %}

{% block extra-css %}
<style>
.content-wrapper, .main-footer {
  margin-left: 0;
}

.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: .5;
  background: #C8EBFB;
}
.list-group {
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i{
  cursor: pointer;
}
</style>
{% endblock extra-css %}

{% block left-sidebar %}{% endblock %}

{% block main-content %}
              
       <div class="row" id="app">
         
           <div class="col-md-12">
               <div class="panel panel-success">
                   <div class="panel-heading">
                       <div class="panel-title-box">
                           <h3>{{tourney.name}} Pairings</h3>
                           <p>Round {{current_round.tag}}</p>
                           <div class="row">
                               {% if user.is_staff and not current_round.paired and not current_round.completed %}
                            <div class="col-md-6"><a href="{% url 'run_pairings' id=current_round.id %}" class="btn btn-block btn-success"><i class="fa fa-eye"></i> Run Pairing</a></div>
                           <div class="col-md-6">
                           </div>
                           {% endif %}
                           </div>
                       </div>
                   </div>
                   <div class="panel-body">
                       <div class="panel panel-default">
                           <div class="row">
                           </div>
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                        <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="success">
                                                <th>#</th>
                                                <th>White</th>
                                                <th>#</th>
                                                <th>#</th>
                                                <th>Black</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for game in games %}
                                                <tr>
                                                <td>{{forloop.counter}}
                                                    {% if user.is_staff %}
                                                    <a href="">scores</a>
                                                    {% endif %}
                                                </td>
                                                <td>{{game.white|default:"Bye"}} ({{game.white.blitz_rating}})</td>
                                                <td>{{game.white_standing}}</td>
                                                <td>{{game.black_standing}}</td>
                                                <td>{{game.black}} ({{game.black.blitz_rating}})</td>
                                                </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
           
</div>
 <!-- PAGE CONTENT WRAPPER -->

 
{% endblock main-content %}                             
            
      
   
	
	{% block extra-js %}

	{% endblock extra-js %}