{% extends 'club/base.html' %}
{% load static from staticfiles %}

{% block pagetitle %}Blood Bank{% endblock pagetitle %}

{% block extra-css %}
<style>
.content-wrapper, .main-footer {
  margin-left: 0;
}

.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: .5;
  background: #C8EBFB;
}
.list-group {
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i{
  cursor: pointer;
}
</style>
{% endblock extra-css %}

{% block left-sidebar %}{% endblock %}

{% block main-content %}
              
       <div class="row" id="app">
         
           <div class="col-md-8">
               <div class="panel panel-success">
                   <div class="panel-heading">
                       <div class="panel-title-box">
                           <h3>Welcome {{user.username}}</h3>
                           <span>
                               {% if login %}
                               <small class="text-info">You last logged in {{login|timesince}} ago</small>
                               {% else %}
                               <small class="text-info">First timer, are you?</small>
                               {% endif %}
                            </span>
                       </div>
                   </div>
                   <div class="panel-body">
                       <div class="panel panel-default tabs">
                           <ul class="nav nav-tabs" role="tablist">
                               <li class="active"><a href="#tab-first" role="tab" data-toggle="tab"><i class="fa fa-hourglass"></i> Match</a></li>
                               <li><a href="#tab-second" role="tab" data-toggle="tab"><i class="fa fa-trophy"></i> Grand Prix</a></li>
                               <li><a href="#tab-fourth" role="tab" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> Pay for Lessons</a></li>
                           </ul>
                           <div class="panel-body tab-content">
                               <div class="tab-pane active" id="tab-first">
                                   <div v-if="matches.length == 0">
                                       <h2>You don't seem to have any matches slated for today</h2>
                                   </div>
                                   <div v-for="match in matches">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-3 table-responsive">
                                                <table class="table table-bodered table-hover">
                                                    <thead>
                                                        <tr class="success">
                                                            <th>[match.white_team]</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="member in match.white_members">
                                                            <td>[member.handle] ([member.rating])</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-3 table-responsive">
                                                <table class="table table-bodered table-hover">
                                                    <thead>
                                                        <tr class="success">
                                                            <th>[match.black_team]</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="member in match.black_members">
                                                            <td>[member.handle] ([member.rating])</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6 table-responsive">
                                                <table class="table table-bodered table-hover">
                                                    <thead>
                                                        <tr class="success">
                                                            <th>Board</th>
                                                            <th colspan=3>Board Order</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(member, idx) in match.board_order">
                                                            <td># [idx]</td>
                                                            <td>[member.white]</td>
                                                            <td> vs </td>
                                                            <td>[member.black]</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-12">
                                                <button v-if="match.status == PENDING" class="btn btn-success" @click="startMatch(match)">
                                                    <i class="fa fa-hourglass"></i>
                                                    Start Match 
                                                    <small>(Games are being recorded)</small>
                                                </button>

                                                <button v-if="match.status == STARTED" class="btn btn-success" @click="completeMatch(match)">
                                                    <i class="fa fa-check-square"></i>
                                                    Complete Match
                                                    <small>(Games stop being recorded)</small>
                                                </button>
                                                <button v-if="match.status == STARTED" class="btn btn-danger" @click="cancelMatch(match)">
                                                    <i class="fa fa-close"></i>
                                                    Cancel Match
                                                    <small>(Games go back to pending mode)</small>
                                                </button>
                                                <button v-if="match.status == COMPLETED" class="btn btn-primary" disabled>
                                                    <i class="fa fa-hourglass"></i>
                                                    Match ended
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                   </div>

                               </div>
                                <div class="tab-pane" id="tab-second">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                             <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr class="success">
                                                        <th>Position</th>
                                                        <th>Handle</th>
                                                        <th>Score</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(player, idx) in leaderboard">
                                                        <td><span v-text="idx + 1"></span></td>
                                                        <td><span v-text="player.name"></span></td>
                                                        <td><span v-text="player.score"></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                               </div>

                               <div class="tab-pane" id="tab-fourth">
                                   <div class="row">
                                       <div class="col-md-12">
                                           <div class="panel panel-default">
                                            <form @submit.prevent="pay()">
                                                <div class="panel-heading">
                                                    <h3>Transfer Money</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <select v-model="payment.recipient" v-validate="'required'" data-vv-validate-on="none" class="form-control">
                                                                    <option v-for="acct in accounts" :value="acct.id">[acct.name] ([acct.email])</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <input v-model="payment.amount" v-validate="'required|decimal'" data-vv-validate-on="none" type="number" class="form-control" name="amount" placeholder="Amount to Send (&#8358;)"/>
                                                                <p v-show="errors.has('amount')" class="text-red">[errors.first('amount')]</p>
                                                            </div>
                                                                
                                                        </div>
                                                      
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-6">
                                                            <button v-show="uploading == false" type="submit" class="btn btn-success btn-full btn-block full">
                                                                <i class="fa fa-paper-plane"></i> Send
                                                            </button>
                                                            <button v-show="uploading == true" disabled type="submit" class="btn btn-grey btn-full btn-block full">
                                                                <i class="fa fa-hourglass"></i> Sending...
                                                            </button>
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                    </div>
                                                </div>
                                            </form>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
             <div class="col-md-4">
               <div class="panel panel-success">
                   <div class="panel-heading">
                       <div class="panel-title-box">
                           <h3>Board Order for <span v-text='club'></span></h3>
                           <span><small>Drag and Drop then "Save" to rearrange your board order</small></span>
                        </div>
                   </div>
                   <div class="panel-body">
                        <draggable class="list-group" element="ul" v-model="members" :options="{group:'description', animation: 0}" @end="ended()">
                            <li class="list-group-item" v-for="member in members"><i class="glyphicon glyphicon-pushpin"> </i> [member.handle] ([member.rating])</li>
                        </draggable>
                        <div><button class="btn btn-success" @click="saveOrder()"><i class="glyphicon glyphicon-save"> </i> Save your board order</button></div>
                   </div>
               </div>
             
           </div>

</div>
 <!-- PAGE CONTENT WRAPPER -->

 
{% endblock main-content %}                             
            
      
   
	
	{% block extra-js %}
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
    <script src="https://unpkg.com/vue-resource@1.3.1/dist/vue-resource.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>

<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js"></script>
    <script>
        
        $(function() {
            $('#id_expiry').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true
            });
        })

        Vue.http.options.emulateJSON = true;
        Vue.use(VeeValidate);

        var vm = new Vue({
            el: "#app",
            delimiters: ["[","]"],
            data: {
                PENDING: 0,
                STARTED: 1,
                COMPLETED: 2,
                newMember: '',
                club: '',
                members: [],
                boardorder: [],
                matches: [],
                profile: {},
                leaderboard: [],
                accounts: [],
                transactions: [],
                game: {
                    white: '',
                    black: ''
                },
                games: [],
                payment: {
                    recipient: '',
                    amount: ''
                },
                stock: [],
                upload: {
                    generic_name: '',
                    brand_name: '',
                    strength: '',
                    manufacturer: '',
                    batch_number: '',
                    expiry_date: '',
                    quantity: '',
                    pack_size: '',
                    unit_cost: ''
                },
                search_term: '',
                search_result: [],
                search_detail: {},
                show_save: false,
                saved_drugs: [],
                qty_item: {},
                qty_value: 0,
                uploading: false
            },
            mounted: function() {
                console.log('vue initialized');
                this.getProfile();
                setInterval(() => {
                    this.refresh();
                }, 3600000)
                //this.getStock();
                //this.getSavedDrugs();
            },
            methods: {
                refresh() {
                    let url = '/club/leaderboard/';
                    this.$http.get(url).then((response) => {
                        this.leaderboard = response.body.leaderboard;
                    })
                },
                ended() {
                    console.log(this.members.map((item) => item.handle));
                },
                getProfile() {
                    let url = '/club/info/';
                    this.$http.get(url).then((response) => {
                        console.log(response.body);
                        this.club = response.body.club;
                        this.members = response.body.members;
                        this.matches = response.body.matches;
                        this.leaderboard = response.body.leaderboard;
                    });
                },
                addMember() {
                    console.log(this.newMember);
                    let url = '/club/add_member/';
                    this.$http.post(url, {handle: this.newMember}).then((response) =>{
                        console.log(response.body);
                        this.members = response.body.members;
                        this.newMember = '';
                        alertify.success('Added successfully');
                    }, err => {
                        alertify.error(err.body.error);
                        console.error(err);
                    })
                },
                removeMember(member) {
                    console.log(member);
                    let url = '/club/remove_member/' + member.id + '/';
                    this.$http.post(url).then((response) => {
                        console.log(response.body);
                        this.members = response.body.members;
                        alertify.success('Removed ' + member.handle + ' successfully');
                    }, err => {
                        alertify.error(err.body.error);
                    })
                },
                saveOrder(){
                    console.log(this.members);
                    let order = this.members.map((item) => item.handle).join('|');
                    let url = '/club/save_order/?order=' + order;
                    this.$http.get(url).then((response) => {
                        console.log(response.body);
                        alertify.success('Order saved successfully');
                    }, err => {
                        alertify.error(err.body.error);
                    })
                },
                cancelMatch(match) {
                    console.log(match);
                    let url = '/club/cancel_match/' + match.id + '/';
                    console.log(url);
                    this.$http.get(url).then((response) => {
                        console.log(response.body);
                        this.members = response.body.members;
                        this.matches = response.body.matches;
                        alertify.success('Match cancelled successfully');
                    }, err => {
                        alertify.error(err.body.error);
                    })
                },
                startMatch(match) {
                    console.log(match);
                    let url = '/club/start_match/' + match.id + '/';
                    this.$http.get(url).then((response) => {
                        console.log(response.body);
                        this.members = response.body.members;
                        this.matches = response.body.matches;
                        alertify.success('Match started');
                    }, err => {
                        alertify.error(err.body.error);
                    })
                },
                completeMatch(match) {
                    console.log(match);
                    let url = '/club/complete_match/' + match.id + '/';
                    this.$http.get(url).then((response) => {
                        console.log(response.body);
                        this.members = response.body.members;
                        this.matches = response.body.matches;
                        alertify.success('Match completed!');
                    }, err => {
                        alertify.error(err.body.error);
                    })
                },
                saveGame() {
                    console.log(this.game);
                    if (!this.game.white) {
                        alertify.error('Please enter the lichess name of the white player');
                        return;
                    }
                    if (!this.game.black) {
                        alertify.error('Please enter the lichess name of the black player');
                        return;
                    }
                    let url = '/account/save_game/';
                    this.$http.post(url, this.game).then((response) => {
                        console.log(response.body);
                        alertify.success('successfully sent');
                        this.games = response.body.games;
                    })
                },
                getResult(gm) {
                    console.log(gm);
                    let url = '/account/get_result/' + gm.id + '/';
                    this.$http.get(url).then((response) => {
                        console.log(response.body);
                        let game = this.games.filter((item) => item.id == gm.id);
                    })
                }
            }
        });
    </script>

    <script type="text/javascript">
      $('.modal_trigger').click(function(e){
          e.preventDefault();
          //var id = $(this).attr('id').substr(7);
          var url = $(this).attr('data-item');
          //console.log('modal ' + $(this).attr('id').substr(7));
          $('#close_action').attr('href', url);
          $('#modal_basic').modal();
      });
    </script>
	   
	{% endblock extra-js %}